* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: green;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    background-color: #101010;
}

body {
    background-image: url(../images/background_pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

img {
    width: 350px;
    height: 400px;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

footer {
    background: #101010;
    padding: 40px 80px;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 120px;
}

